@theme {
  --spacing-sidebar: 255px;
  --spacing-sideheader: 110px;
  --spacing-content: 28px;

  --text-2xs: 11px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
}

:root {
    --primary: #f7f8f7;
    --surface-primary: #ffffff;
    --surface-input: #f3f4f5;
    --secondary-opc-10: #e4f0db;
    --secondary-muted: #4d7b1b;
    --secondary-action: #7fb249;
    --secondary-action-hover: #72a13f;
    --secondary-soft: rgba(127, 178, 73, 0.1);
    --secondary-focus: rgba(127, 178, 73, 0.3);
    --border-muted: rgba(194, 201, 181, 0.3);
    --border-dashed: #c2c9b5;
    --icon-muted: #a7af99;
    --text-primary-green: #234100;
    --text-primary-dark-green: #424939;
    --button-muted: #83BB49;
    --button-muted-opc-10: #b3dd87;
    --button-soft:#6d9f53;

    --text-primary: #252525;
    --text-primary-dark: #191c1d;
    --text-primary-light: #625e58;
    --text-primary-opc-10: #e7e8e9;
    --text-primary-light-100: #939393;
    --text-secondary: #397000;
    --text-secondary-dark: #315d08;

}